<footer class="footer">
    <div class="footer-inner">
        <div class="footer-sections">
            <div class="footer-section-one">
                <div class="footer-header">
                    <h2 class="footer-name">Etiam volutpat sapien quis velit consequat, sit.</h2>
                </div>
                <div class="footer-btn">
                    <button type="button" class="button-get-started">Get Started</button>
                    <button type="button" class="button-contact-us">Contact Us</button>
                </div>
            </div>
            <hr />
            <div class="footer-section-two">
                <div class="footer-info-one">
                    <h1 class="footer-bubi-logo">bubi.co</h1>
                    <p class="footer-bubi-para">Aenean sollicitudin lobortis nisi at bibendum. Praesent sit amet sapien tortor.</p>
                    <div class="footer-icons">
                        <div class="footer-icon footer-icon-one">
                            <img src="../../assets/facebook.png" alt="facebook" class="footer-image facebook-icon">
                        </div>
                        <div class="footer-icon footer-icon-two">
                            <img src="../../assets/twitter.png" alt="twitter" class="footer-image twitter-icon ">
                        </div>
                        <div class="footer-icon footer-icon-three">
                            <img src="../../assets/linkedin.png" alt="linkedin" class="footer-image linkedin-icon">
                        </div>
                        <div class="footer-icon footer-icon-four">
                            <img src="../../assets/pinterest.png" alt="pinterest" class="footer-image pinterest-icon">
                        </div>
                    </div>
                </div>
                <div class="footer-info-two">
                    <div class="footer-info-info">
                        <h3 class="types-name">Types</h3>
                        <ul>
                            <li class="types-list">Knowledge base</li>
                            <li class="types-list">Security</li>
                            <li class="types-list">Privacy Policy</li>
                            <li class="types-list">Partners</li>
                            <li class="types-list">About Us</li>
                            <li class="types-list">FAQs</li>
                        </ul>
                    </div>
                    <div class="footer-info-info">
                        <h3 class="services-name">Services</h3>
                        <ul>
                            <li class="services-list">Contact Us</li>
                            <li class="services-list">Press</li>
                            <li class="services-list">Library</li>
                            <li class="services-list">Blog</li>
                            <li class="services-list">Help Center</li>
                        </ul>
                    </div>
                    <div class="footer-info-info">
                        <h3 class="resources-name">Resources</h3>
                        <ul>
                            <li class="resources-list">Pricing</li>
                            <li class="resources-list">Account FAQs</li>
                            <li class="resources-list">Contact Support</li>
                            <li class="resources-list">Privacy Policy</li>
                            <li class="resources-list">Terms</li>
                        </ul>
                    </div>
                    <div class="footer-info-info">
                        <h3 class="support-name">Support</h3>
                        <ul>
                            <li class="support-list">Affiliates</li>
                            <li class="support-list">Sitemap</li>
                            <li class="support-list">Cancelation Policy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>