<div class="our-apartments">
    <div class="our-apartments-inner">
        <div class="our-apartments-section-one">
            <div class="our-apartments-header">
                <h1 class="heading">Our Apartments</h1>
                <p class="para">In nec tempor augue. Maecenas varius nulla lacus, et cursus lacus 
                    rutrum quis. Fusce sodales, nulla at gravida viverra, nibh nisl sodales.</p>
            </div>
            <div class="learn-more">
                <button type="button" class="button button-learn-more">Learn More</button>
            </div>
        </div>
        <div class="our-apartments-section-two">
            <div class="our-apartments-info">
                <div class="info info-one">
                    <h1 class="info-num">1.</h1>
                    <h3 class="info-info">Location</h3>
                    <p class="info-para">In nec tempor augue. Maecenas varius nulla lacus, et cursus lacus rutrum quis.</p>
                </div>
                <div class="info info-two">
                    <h1 class="info-num">2.</h1>
                    <h3 class="info-info">Transportation</h3>
                    <p class="info-para">Praesent rutrum diam neque, molestie mollis odio mattis in. Quisque tempus.</p>
                </div>
                <div class="info info-three">
                    <h1 class="info-num">3.</h1>
                    <h3 class="info-info">Long Term Stay</h3>
                    <p class="info-para">Nulla pellentesque laoreet ultrices. Phasellus nec lectus mi. Praesent volutpa.</p>
                </div>
                <div class="info info-four">
                    <h1 class="info-num">4.</h1>
                    <h3 class="info-info">Create Success Stories</h3>
                    <p class="info-para">Vestibulum nec lacus et elit dictum semper ac eu quam.</p>
                </div>
            </div>
            <div class="our-apartments-image">
                <img src="../../assets/pics.png" alt="image">
            </div>
        </div>
    </div>
</div>