<div class="hero">
    <div class="hero__inner">
        <div class="hero__inner__inner">
            <div class="hero__container">
                <div class="hero__dot">
                    <div *ngFor="let ele of rows" class="hero__dot-rows">
                        <p *ngFor="let ele of cols" class="hero__dot-cols"></p>
                    </div>
                </div>
                <div class="hero__home">
                    <img src="../../assets/collov-home-design-H-1j_s0dhCw-unsplash.jpg" alt="collov-home" class="hero__home-image">
                </div>
            </div>
            <div class="hero__rest">
                <h1 class="hero__rest-name">Rest . Relax . Enjoy</h1>
                <p class="hero__rest-para">Quisque imperdiet faucibus nunc, euismod pulvinar magna consequat sit amet. Cras blandit lobortis feugiat. 
                    Nunc justo nisl, tristique eget semper in, tristique vel turpis. In blandit augue justo.</p>
                <div class="hero__learn-more">
                    <a class="hero__learn-more-link">Learn More</a>
                    <img src="../../assets/arrow_right.png" alt="arrow_right" class="hero__learn-more-image">
                </div>    
            </div>
            <div class="hero__social-info">
                    <div class="hero__social">
                        <div class="hero__social-media">
                            <img src="../../assets/facebook.png" alt="facebook" class="hero__social-media-icon">
                        </div>
                        <div class="hero__social-media">
                            <img src="../../assets/twitter.png" alt="twitter" class="hero__social-media-icon">
                        </div>
                        <div class="hero__social-media">
                            <img src="../../assets/linkedin.png" alt="linkedin" class="hero__social-media-icon">
                        </div>
                        <div class="hero__social-media">
                            <img src="../../assets/pinterest.png" alt="pinterest" class="hero__social-media-icon">
                        </div>
                    </div>
                    <div class="hero__scroll">
                        <img src="../../assets/arrow_right.png" alt="arrow-image" class="hero__scroll-image">
                        <span class="hero__scroll-name">Scroll Down</span>
                    </div>
            </div>
        </div>
    </div>
</div>