<div class="gallery">
    <div class="gallery-inner">
        <div class="gallery-info">
            <div class="gallery-gallery">
                <h1 class="gallery-name">Gallery</h1>
            </div>
            <div class="gallery-view">
                <div class="gallery-view-all">
                    <a class="view-link">View All</a>
                </div>
                <div class="gallery-arrow">
                    <img src="../../assets/arrow_right.png" alt="arrow-img" class="arrow-img">
                </div>
            </div>
        </div>
        <div class="gallery-images">
            <div class="gallery-images-inner">
                <div class="images images-one">
                    <img src="../../assets/paul-hanaoka-Dl6H4_nzBpE-unsplash.jpg" alt="paul-image" class="gallery-images-list">
                </div>
                <div class="images images-two">
                    <img src="../../assets/camylla-battani-ashxH5TQ8Go-unsplash.jpg" alt="camylla-image" class="gallery-images-list">
                </div>
                <div class="images images-three">
                    <img src="../../assets/pexels-max-vakhtbovych-5998041.jpg" alt="pexels-max-image" class="gallery-images-list">
                </div>
                <div class="images images-four">
                    <img src="../../assets/collov-home-design--aDGbdTsBZg-unsplash.jpg" alt="collov-home-image" class="gallery-images-list">
                </div>
                <div class="images images-five">
                    <img src="../../assets/pexels-karolina-grabowska-5902807.jpg" alt="pexels-karolina-image" class="gallery-images-list">
                </div>
                <div class="images images-six">
                    <img src="../../assets/douglas-sheppard-CGZbE-Pa1S8-unsplash.jpg" alt="douglas-sheppard-image" class="gallery-images-list">
                </div>
                <div class="images images-seven">
                    <img src="../../assets/pexels-vlada-karpovich-4050318.jpg" alt="pexels-vlada-image" class="gallery-images-list">
                </div>
                <div class="images images-eight">
                    <img src="../../assets/francesca-tosolini-YNaGwlNbTwY-unsplash.jpg" alt="francesca-tosolini-image" class="gallery-images-list">
                </div>
                <div class="images images-nine">
                    <img src="../../assets/collov-home-design-H-1j_s0dhCw-unsplash.jpg" alt="collov-image" class="gallery-images-list">
                </div>
            </div>
        </div>
    </div>
</div>