<app-nav-bar></app-nav-bar>
<app-hero></app-hero>
<div class="features">
    <div class="features-inner">
        <h2 class="features-name">FEATURED IN OVER 100 MEDIA OUTLETS</h2>
        <div class="features-section">
            <div class="medium-section">
                <img src="../assets/Medium-Logo-Black-RGB_300x80.svg" alt="medium" class="medium-img features-img">
            </div>
            <div class="airbnb-section">
                <img src="../assets/Airbnb_Logo_Bélo.svg" alt="airbnb" class="airbnb-img features-img">
            </div>
            <div class="time-section">
                <img src="../assets/Time_Magazine_logo.svg" alt="time" class="time-img features-img">
            </div>
            <div class="huffpost-section">
                <img src="../assets/huffingtonpost-logo.svg" alt="huffpost" class="huffpost-img features-img">
            </div>
            <div class="booking-section">
                <img src="../assets/Booking.com_logo.svg" alt="booking" class="booking-img features-img">
            </div>
        </div>
    </div>
</div>
<app-our-apartments></app-our-apartments>
<app-gallery></app-gallery>
<div class="adventure-packs">
    <div class="adventure-packs-inner">
        <div class="adventure-packs-header">
            <h1 class="adventure-packs-head">Adventure Packs</h1>
            <p class="adventure-packs-para">In nec tempor augue. Maecenas varius nulla lacus. Duis et mollis diam, nec.</p>
        </div>
        <div class="adventure-packs-info">
            <img src="../assets/date.png" alt="date">
            <h3 class="year-long-packs adventure-packs-info-info">Year Long Packs</h3>
            <p class="year-long-packs-para adventure-packs-para">In nec tempor augue. Maecenas varius nulla lacus, et cursus lacus.</p>
        </div>
        <div class="adventure-packs-info">
            <img src="../assets/amount.png" alt="amount">
            <h3 class="save-money adventure-packs-info-info">Save Money</h3>
            <p class="save-money-para adventure-packs-para">Mauris pulvinar metus diam, sit amet fermentum velit ullamcorper.</p>
        </div>
        <div class="adventure-packs-info">
            <img src="../assets/time.png" alt="time">
            <h3 class="organize-now adventure-packs-info-info">Organize Now</h3>
            <p class="organize-now-para adventure-packs-para">Vivamus lorem metus, maximus hendrerit viverra non, tempus.</p>
        </div>
    </div>
</div>
<app-renters></app-renters>
<app-footer></app-footer>