<div class="renters">
    <div class="renters-inner">
        <div class="renters-inner-inner">
            <div class="renters-header">
                <div class="srr">
                    <div class="srr21"></div>
                </div>
                <h1 class="renters-name">What our renters have to say</h1>
                <p class="renters-para">In nec tempor augue. 
                    Maecenas varius nulla lacus, et cursus lacus rutrum quis. Fusce sodales, nulla at 
                    gravida viverra, nibh nisl sodales.</p>
            </div>
            <div class="renters-about">
                <div class="renters-image">
                    <div class="slid-1">
                        <img src="../../assets/pexels-mentatdgt-1024311.jpg" alt="image-1" class="my-image">
                    </div>
                    <div class="slid-2">
                        <img src="../../assets/collov-home-design--aDGbdTsBZg-unsplash.jpg" alt="image-2" class="my-image">
                    </div>
                    <div class="slid-3">
                        <img src="../../assets/collov-home-design-H-1j_s0dhCw-unsplash.jpg" alt="image-3" class="my-image">
                    </div>
                    <div class="slid-4">
                        <img src="../../assets/pexels-mentatdgt-1024311.jpg" alt="image-4" class="my-image">
                    </div>     
                </div>
                <div class="bubi-info">
                    <span class="bubi-logo">bubi.co</span>
                    <p class="bubi-info-para">Aenean lacinia, felis a tempor laoreet, erat ipsum molestie dolor, eu commodo urna mauris id lacus.</p>
                    <div class="renters-name">
                        <div class="name">
                            <h3 class="jane-hamilton">Jane Hamilton</h3>
                        <p class="ceo">Chief Executive Offices</p>
                        </div>
                        <div class="name">
                            <h3 class="jane-hamilton">Jane Hamilton</h3>
                        <p class="ceo">Director</p>
                        </div>
                        <div class="name">
                            <h3 class="jane-hamilton">Jane Hamilton</h3>
                        <p class="ceo">HR Executive</p>
                        </div>
                        <div class="name">
                            <h3 class="jane-hamilton">Jane Hamilton</h3>
                        <p class="ceo">Developer</p>
                        </div>
                    </div>
                    <div class="arrow-button">
                        <div class="next">
                            <div class="arrow-button-left arrow-background" id="prev-btn">
                                <img src="../../assets/arrow_right.png" alt="arrow-left" class="arrow-mark-btn arrow-left-image">
                            </div>
                        </div>
                        <div class="prev">
                            <div class="arrow-button-right arrow-background" id="next-btn">
                                <img src="../../assets/arrow_right.png" alt="arrow_right" class="arrow-mark-btn">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

